:root {
  --primary-color: #8B4513;
  /* Chocolate Brown */
  --primary-hover: #6d350e;
  --secondary-color: #333333;
  /* Dark gray */
  --accent-color: #D2691E;
  /* Chocolate */
  --text-color: #2c3e50;
  --bg-color: #f5f5f5;
  --white: #ffffff;
  --light-gray: #ecf0f1;

  --font-main: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.15);

  font-family: var(--font-main);
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}